<html>
	<head>
	<script src="jquery.min.js"></script>
	<title>SkyDrive Mortgage</title>
	<meta name="Author" content="Arpan Mukherjee">
	<meta name="Owner" content="Arpan Mukherjee">
	<link href="mystyles.css" rel="stylesheet" type="text/css" >
	<script src="productreview.js" type="text/javascript"></script>

	</head>
	
			
	
	<body class="st_font">
	<div style="background-color:black">
		
		
	</div>
		<img src="skydrive_logo.jpg" alt="System error" id="logo" height="151" width="250px">
		<div id="Header">
			
			<h1>SkyDrive Mortgage Agency</h1>
			<h2>A Mortgage Company</h2>
			
		</div>
		
		<div id="wrapper">
			
			<hr>
			
			<ul>
				<li><a href="index.htm" class="current">Home</a></li>
				<li><a href="about.htm">About Us</a></li>
				<li><a href="services.htm">Services</a></li>
				<li><a href="contact.htm">Contact Us</a></li>
						
			</ul>
			<hr>
		</div>
		<div id="mybody">
			<h2>Welcome to the best Mortgage Company in India</h2>
			<h4>About the Company</h4>
			<p>
				SkyDrive is a Mortgage company. Services available in INDIA ONLY.We would like to introduce ourselves as one of the leading financial service provider Company Ours is an important and respected name in the field of Mortgages  in Delhi / NCR& all over India. We are Working in Financial industries last 15 years, Established in 1996, And having good clients and large business network in Delhi/NCR
Our company dealing in various financial product like Home Loan, Mortgages (Loan against Property), Commercial Project, Builders Project, etc. We have good experience team and network,
Our Strength lies in the keen understanding of the Finance Sector, Our Company is supported by a Dedicated and Professional Team which scientifically analyses your requirement and methodically services the same. Do let us know of your requirement - whatever it may be - Home Loan or loan against Property
			</p>
			<h4>Products and Services Overview</h4>	
			
			<div id="products">
				<img src="gold_mortgage.jpg" alt="" align="right" height="200px" width="600px" id="imagepro">
				We take things and estates in return of money. Once you return your money in <b>specified time</b> you get back everything.Hover the Tabs below.
				<br><br><br>
				<ul>
					<li onmouseover="change2gold()"><a href="" >Gold Mortgage</a></li><br><br>
					<li onmouseover="change2car()"><a href="" >Car Mortgage</a></li><br><br>
					<li onmouseover="change2estate()"><a href="">Estate Mortgage</a></li><br><br>			
				</ul>	
				<h5>Service/Product Description</h5>
				<p id="parapro">Gold Loans here are of very cheap rates. Gold Mortgages are important</p>
			</div>
			
			<h4>Latest News and updates</h4>
			
                <table>
                	<tr>
                	<td>27th June 2014</td>
                	<td><a href="">New Branch at Bangalore opened</a></td>
                	<td>A New Branch is opened at Bangalore highway which will...</td>
                	</tr>
                	
                	<tr>
                	<td>22nd July 2014</td>
                	<td><a href="">Terms and Conditions Ammended</a></td>
                	<td>Our Company has observed a change in its Terms and condition since...</td>
                	</tr>
                	
                	<tr>
                	<td>31st July 2014</td>
                	<td><a href="">Sensex rise affected gold loans drastically</a></td>
                	<td>Read times of india to know that sensex has improvised...</td>
                	</tr>
                </table>
                                     
		
		</div>
		
		<hr>
		
		Follow us at <a>Facebook</a>/<a>Twitter</a><br>
		<center>
		<small>
		Copyright 2014 -- SkyDrive Mortgagers
		</small>
		</center>
		
		
	</body>
	
</html>